.burndown{ id: dom_id(@burndown) }
  %h1 #{@burndown.name} Burndown

  %ul
    %li Current iteration: #{@burndown.iteration_number}
    %li Iteration duration: #{@burndown.start_on} - #{@burndown.finish_on}

  #burndown-chart

%script(type="text/javascript" src="https://www.google.com/jsapi")

:javascript
  var chartData = #{@burndown.to_json};

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(chartData);

    options = {
      isStacked: true,
      // Unstarted, Started, Finished, Delivered, Accepted, Rejected
      colors: ['#3751A8', '#4AB2D5', '#FBE151', '#C3E94F', '#93BC17', '#F93C3C'],
      hAxis: {
        slantedText: true,
        slantedTextAngle: 30
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('burndown-chart'));
    chart.draw(data, options);
  }

